<!DOCTYPE html>
<html>
  <head>
    <title>Analysis</title>
  </head>

  <body>
    <h1>Analysis of data</h1>

    <form action="/analysis" method="POST">
      <h2>Checking the correlation:</h2>
      <label>Select target Column:</label>
      <select name="target_column">
        {% for col in cols %}
        <option value="{{col}}">{{col}}</option>
        {% endfor %}
      </select>
      <br /><br />

      <input type="submit" name="action" value="check_correlation" />
      <br /><br />
    </form>
    {% for k, v in dict.values%}
    <p>The Pearson Correlation Coefficient with {{k}} is {{v}}</p>
    {% endfor %}
  </body>
</html>
