<!DOCTYPE html>
<html>
  <head>
    <title>Upload Data</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          alert("{{ messages[0] }}");
        </script>
      {% endif %}
    {% endwith %}
  </head>
    <body>
      <h1>Welcome to My Web App</h1>
      <p>Upload a CSV file:</p>
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </body>
  </html>