{% extends 'advanceClean.html' %}
{% block content %}

<body>
    <h1>Replace Missing Values</h1>
    <form action="/advance_Clean/replace_missing" method="post">
      <label for="column">Select Column:</label>
      {% for col in columns %}
        <div>
          <input type="checkbox" id="{{ col }}" name="column" value="{{ col }}">
          <label for="{{ col }}">{{ col }}</label>
        </div>
      {% endfor %}
      <br>
      <label for="method">Select Method:</label>
      <select id="method" name="method">
        <option value="mean">Replace by Mean</option>
        <option value="freq">Replace by Frequency</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <a href="/advance_Clean"><button>BACK TO ADVANCE CLEAN</button></a>
  </body>


{% endblock %}